.Layout {
    font-family: Helvetica;
    justify-content: space-between;
    color: black;
    max-width: 100%;
    height: auto;
    align-self: center;
    text-align: center;
    background-color: azure;
    margin-top: 20px;
  }
/*   
  .Layout--clear {
    border-color: #f53e3e;
  }
  
  .Layout--rain {
    border-color: rgb(30, 240, 187);
  }
  
  .Layout--cloud {
    border-color: rgb(94, 92, 92);  
  }
  
  .Layout--snow {
    border-color: #ffffff;  
  } */